.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

html, body {
  height:100%;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.image-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

.league-logo {
  width: 40%;
  height: 40%;
}

.form-container {
  padding: 16px;
  align-items: center;
  justify-content: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #109fce;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

buton:hover {
  opacity: 0.8;
}

.forgot-pass {
  text-align: center;
}

.login-box {
  width: 30%;
  height: 50%;
  line-height: 50%;
  text-align: center;
}

.container {
  min-height: 100%;
  display: flex;
  min-width: 100%;
  justify-content: center;
}

body {
  background: #ffb56b;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
