.App {
  text-align: center;
  height: 100%;
}

#root {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

html, body {
  height:100%;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.image-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

.league-logo {
  width: 40%;
  height: 40%;
}

.form-container {
  padding: 16px;
  align-items: center;
  justify-content: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  color: inherit;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(248,248,248, 0.3);
  background-color: inherit;
}

input:focus {
  outline: none;
}

.login-button {
  background-color: #24243e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 45%;
  height: 40%;
  font-family: sans-serif;
  border: 1px solid rgba(252, 252, 252, 0.1);
  box-shadow: 0 12px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 24px;
  transition: transform 700ms;
}

.login-button:hover {
  transform: translateY(-2px);
}

buton:hover {
  opacity: 0.8;
}

.forgot-pass {
  text-align: center;
  text-decoration: none;
  color: white;
}

.login-box {
  width: 30%;
  height: 50%;
  line-height: 50%;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

html, body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100%;
  padding: 0;
  margin: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
